<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ios-uniqueid" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UniqueiOSUDID</name>
    <js-module name="UniqueiOSUDID" src="www/UniqueiOSUDID.js">
        <clobbers target="uniqueiosudid" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UniqueiOSUDID">
                <param name="ios-package" value="UniqueiOSUDID" />
            </feature>
        </config-file>
        <header-file src="src/ios/UniqueiOSUDID.h" />
        <source-file src="src/ios/UniqueiOSUDID.m" />
        <header-file src="src/ios/KeychainItemWrapper.h" />
        <source-file src="src/ios/KeychainItemWrapper.m" />
    </platform>
</plugin>
